{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="space-top space-extra-bottom">
    <div class="container">
       <div class="as-sort-bar">
          <div class="row justify-content-between align-items-center">
             <div class="col-md-auto"><span class="course-result-count">We found <span class="text-theme">12 courses</span> available for you</span></div>
             <div class="col-md-auto">
                <div class="nav" role="tablist"><a href="#" class="active" id="tab-course-grid" data-bs-toggle="tab" data-bs-target="#tab-grid" role="tab" aria-controls="tab-grid" aria-selected="true"><i class="fa-solid fa-grid-2"></i> Grid</a> <a href="#" id="tab-course-list" data-bs-toggle="tab" data-bs-target="#tab-list" role="tab" aria-controls="tab-grid" aria-selected="false"><i class="fas fa-list"></i> List</a></div>
             </div>
          </div>
       </div>
       <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade active show" id="tab-grid" role="tabpanel" aria-labelledby="tab-course-grid">
             <div class="row gy-4 mb-30">
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_1.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                            
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Learn React JS Tutorial For Beginners</a></h3>
                       
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_2.jpg' %}" alt="course"> <span class="tag">NAIROBI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                      
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Techs HTML5 JS Tutorial For Newbies</a></h3>
                 
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_3.jpg' %}" alt="course"> <span class="tag">NAIROBI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                         
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Start Java3 JS Tutorial For Adanceds</a></h3>
                      
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_4.jpg' %}" alt="course"> <span class="tag">NAIROBI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                      
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Learn React JS Tutorial For Beginners</a></h3>
     
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_5.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                      
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Start PHP JS Tutorial For Adance Guy</a></h3>
                  
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_6.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                         
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Go to HTML5 Tutorial For Newbie Kids</a></h3>
                     
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_7.jpg' %}" alt="course"> <span class="tag">NAIROBI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                       
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Learn React JS Tutorial For Beginners</a></h3>
                  
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_8.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                         
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Techs HTML5 JS Tutorial For Newbies</a></h3>
                 
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_9.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                        
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Start Java3 JS Tutorial For Adanceds</a></h3>
              
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_10.jpg' %}" alt="course"> <span class="tag">NAIROBI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                           
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Learn React JS Tutorial For Beginners</a></h3>
                      
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_11.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                         
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Start PHP JS Tutorial For Adance Guy</a></h3>
                        
                      </div>
                   </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xxl-3">
                   <div class="course-box style4">
                      <div class="course-img"><img src="{% static 'assets/img/course/course_1_12.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                      <div class="course-content">
                         <div class="course-author">
                         
                            <div class="course-rating">
                               <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                               (4.00)
                            </div>
                         </div>
                         <h3 class="course-title"><a href="course-details.html">Go to HTML5 Tutorial For Newbie Kids</a></h3>
              
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="tab-pane fade" id="tab-list" role="tabpanel" aria-labelledby="tab-course-list">
             <div class="course-list">
                <div class="course-img"><img src="{% static 'assets/img/course/course_6_1.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                <div class="course-content">
                   <h3 class="course-title"><a href="course-details.html">How To Make Something Very Easier Than You Think</a></h3>
                   <div class="course-author">
                   
                      <div class="course-rating">
                         <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                         (4.00)
                      </div>
                   </div>
                   <p class="course-text">Learn How To Build The Perfect Diet & Meal Plan For Improved Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Diet & Meal Plan For Improved Better Weight Loss And More</p>
           
                </div>
             </div>
             <div class="course-list">
                <div class="course-img"><img src="{% static 'assets/img/course/course_6_2.jpg' %}" alt="course"> <span class="tag">NAIROBI UNIVERSITY</span></div>
                <div class="course-content">
                   <h3 class="course-title"><a href="course-details.html">Try To Make Something Very Easier Than You Learn</a></h3>
                   <div class="course-author">
                    
                      <div class="course-rating">
                         <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                         (4.00)
                      </div>
                   </div>
                   <p class="course-text">Learn How To Build The Perfect Diet & Meal Plan For Improved Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Diet & Meal Plan For Improved Better Weight Loss And More</p>
                  
                </div>
             </div>
             <div class="course-list">
                <div class="course-img"><img src="{% static 'assets/img/course/course_6_3.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                <div class="course-content">
                   <h3 class="course-title"><a href="course-details.html">Got To Make Something Very Easier Than You Better</a></h3>
                   <div class="course-author">
                    
                      <div class="course-rating">
                         <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                         (4.00)
                      </div>
                   </div>
                   <p class="course-text">Learn How To Build The Perfect Diet & Meal Plan For Improved Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Diet & Meal Plan For Improved Better Weight Loss And More</p>
                  
                </div>
             </div>
             <div class="course-list">
                <div class="course-img"><img src="{% static 'assets/img/course/course_6_4.jpg' %}" alt="course"> <span class="tag">NAIROBI UNIVERSITY</span></div>
                <div class="course-content">
                   <h3 class="course-title"><a href="course-details.html">How To Make Something Very Easier Than You Think</a></h3>
                   <div class="course-author">
                      
                      <div class="course-rating">
                         <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                         (4.00)
                      </div>
                   </div>
                   <p class="course-text">Learn How To Build The Perfect Diet & Meal Plan For Improved Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Diet & Meal Plan For Improved Better Weight Loss And More</p>
               
                </div>
             </div>
             <div class="course-list">
                <div class="course-img"><img src="{% static 'assets/img/course/course_6_5.jpg' %}" alt="course"> <span class="tag">MOI UNIVERSITY</span></div>
                <div class="course-content">
                   <h3 class="course-title"><a href="course-details.html">Try To Make Something Very Easier Than You Learn</a></h3>
                   <div class="course-author">
                    
                      <div class="course-rating">
                         <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:79%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                         (4.00)
                      </div>
                   </div>
                   <p class="course-text">Learn How To Build The Perfect Diet & Meal Plan For Improved Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Better Weight Loss And More Health, Diet & Meal Plan For Improved Better Weight Loss And More</p>
                  
                </div>
             </div>
          </div>
       </div>
       <div class="as-pagination text-center pt-20">
          <ul>
             <li><a href="blog.html">1</a></li>
             <li><a href="blog.html">2</a></li>
             <li><a href="blog.html">3</a></li>
             <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
          </ul>
       </div>
    </div>
 </section>

{% endblock content %}