{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="breadcumb-wrapper" data-bg-src="{% static 'assets/img/breadcumb/breadcumb-bg.jpg' %}">
    <div class="container z-index-common">
       <h1 class="breadcumb-title">Raisec</h1>
       <ul class="breadcumb-menu">
          <li><a href="index.html">Home</a></li>
          <li>Raisec</li>
       </ul>
    </div>
 </div>

 <section class="space">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-lg-6 col-md-7 col-sm-9">
             <div class="title-area text-center"></div>
          </div>
       </div>
       <div class="contact-form-wrap" data-bg-src="{% static 'assets/img/bg/contact_bg_1.png' %}">
         <form action="mail.php" method="POST" class="contact-form ajax-contact">
          <span class="sub-title">Raisec</span>
             <div class="row">
               <div class="col-12 form-group">
                  <input id="reviewcheck" name="reviewcheck" type="checkbox" />
                  <label for="reviewcheck">Save my name, email, and website in this browser for the next time I comment.<span class="checkmark"></span></label>
              </div>
                <div class="form-btn col-12 mt-10"><button class="as-btn">Next Question<i class="fas fa-long-arrow-right ms-2"></i></button></div>
             </div>
             <p class="form-messages mb-0 mt-3"></p>
          </form>
       </div>
    </div>
 </section>


{% endblock content %}